.modal {
    display: none; 
    position: absolute; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    text-align:center;
}


.modal-content {
    background-color: #fefefe;
    margin: 9em auto; 
    border: 1px solid #888;
    width: 60%; 
}


.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: black;
}


.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

*
{
    box-sizing: border-box;
    outline: none !important;
}


.login-form
{
    position: relative;
    display: block;
    overflow: hidden;
    text-align: center;
    margin: 10px auto 0 auto;
    width: 65%;
    box-shadow: 0 0 20px 1px #222;
}

.login-form .login-top
{
    position: relative;
    z-index: 11;
    background-color: #FFF;
    padding: 10px 45px;
}

.login-form .login-top h1
{
    font-family:"Helvetica", verdana, sans-serif;
    font-weight: normal;
    font-size: 40px;
    color: #2fbee8;
    letter-spacing: -1.7px;
}

.login-form input
{
    display: block;
    font-family:"Helvetica", verdana, sans-serif;
}

.login-form input[type="text"], .login-form input[type="password"]
{
    margin: 10px auto;
    border-radius: 3px;
    padding: 10px;
    padding-left: 48%;
    border: 1px solid #CCC;
    box-shadow: 0 1px 2px 1px #F5F5F5 inset;
    background-color: #FEFEFE;
    color: #323440;
    width: 100%;
    transition: 0.3s all;
}

.login-form input[type="text"]:focus, .login-form input[type="password"]:focus
{
    background-color: #f7f9fc;
}

.login-form .input-prefix
{
    font-family: Montserrat;
    font-weight: bold;
    position: absolute;
    color: #888;
    font-size: 18px;
    margin-top: -40px;
    left: 60px;
    cursor: pointer;
    transition: 0.3s all;
}

.login-form .input-prefix:after
{
    content: '';
    position: relative;
    display: block;
    top: 100%;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #0aa4d1;
    transition: 0.3s all;
}

.login-form input:focus + .input-prefix
{
    color: #0aa4d1;
}

.login-form input:focus + .input-prefix:after
{
    width: 100%;
}

.login-form input[type="submit"]
{
    border: none;
    background-image: linear-gradient(135deg, #22bae7 70%, #10acd9);
    color: #000000;
    font-weight: 700;
    padding: 12px 47px;
    margin-left: 30%;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all;
}

.login-form input[type="submit"]:hover,.login-form input[type="submit"]:focus
{
    box-shadow: 0 0px 15px 2px #CCC;
}

.login-form .login-bottom
{
    z-index: 10;
    position: relative;
    padding: 20px;
    background-color: #56596a;
}

.login-form .login-bottom a
{
    color: #CCC;
    font-size: 13px;
    text-decoration: none;
}

.login-form .login-bottom a:hover
{
    text-decoration: underline;
}

.login-form .login-bottom:after
{
    content: '';
    position: absolute;
    top: 100%;
    left: 0px;
    border: 30px solid transparent;
    border-bottom-color: #56596a;
    transform: rotate(-45deg);
    margin-top: -30px;
}

.login-wrap {
    margin: 0 auto;
    background:white;
    border-radius: 5px;
    width: 80%;
    margin-top: -10%;
    box-shadow: 0 0 20px 1px #222;
  }

  .login-wrap input
  {
      display: inline-block;
      font-family:"Helvetica", verdana, sans-serif;
  }

.login-wrap .form input[type="text"],
 .login-wrap .form input[type="password"],
 .login-wrap .form button {
    width: 70%;
    margin-left: 10%;
    margin-bottom: 25px;
    height: 40px;
    border-radius: 5px;
    outline: 0;
    -moz-outline-style: none;
  }
  
 .login-wrap .form input[type="text"],
.login-wrap .form input[type="password"] {
    margin: 10px auto;
    border-radius: 3px;
    padding: 10px;
    padding-left: 48%;
    border: 1px solid #CCC;
    box-shadow: 0 1px 2px 1px #F5F5F5 inset;
    background-color: #FEFEFE;
    color: #323440;
    width: 100%;
    transition: 0.3s all;
  }


 .login-wrap .form a {
    text-align: center;
    font-size: 10px;
    color: #3498db;
  }
  .login-wrap .form a p {
    padding-bottom: 10px;
  }

 .login-wrap .form button:hover {
    box-shadow: 1px 1px 5px #555;
  }
.login-wrap .form button:active {
    box-shadow: 1px 1px 7px #222;
  }
