video { 
      position: fixed;
      z-index: -100;
      background: url('../img/screen.jpg') no-repeat;
      background-size: cover;
      transition: 1s opacity;
  }

  body
  {
    overflow-x:hidden;
    overflow-y:auto;
  }

  #video {
    padding: 1rem;
    width: 100%;
    font-size: 1em;
  }

  #info{
    margin-left:43%;
    margin-top:-1em;
  }

  .para
  {
    color:white;
    text-align:center;
    margin-top:3em;
  }  

  #bloc
  {
    margin-top:4em;
  }

  @media screen and (max-width: 640px) {
    html { background: url("../img/screen.jpg"); }
    #bgvid { display: none; }
    .split-pane
    {
      float:none !important;
    }

    .split-pane > div .text-content .big {
     
      font-size: 2em !important;
      
  }

  .split-pane > div .text-content {
    margin-bottom: none;
}

  }
